@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

html,body,#__next{
    font-family: 'Poppins', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color:#fff;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}
.bg_overlay{
    background: linear-gradient(0deg, #0e013db7, #040346bd), url('../public//vercel.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.alert-container{
    background-color: #000000b7;
    z-index: 10000;
}